.nav-header{
  height: 50px;
  width: auto;
  padding-right: 30px;
  display: flex;
}

.nav-header nav{
  position: relative;
  border-radius: 9999px;
  top: 10px;
  margin-left: auto;
  height: 100%;
  width: fit-content;
}

.nav-item{
  position: relative;;
  height: 35px;
  width: 35px;
  border-radius: 5px;
  background-color: hsl(208, 10%, 50%);
  box-shadow: 1px 1px 2px 1px hsl(0, 0%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  transition: all 0.25s linear;
  z-index: 1;
}

@media screen and (min-width: 732px) {
  .nav-item{
    height: 50px;
    width: 50px;
  }
}

.nav-item:hover{
  background-color: black;
  box-shadow: none;
  top: -5px;
  right: -5px;
}

.nav-item-bg{
  background-color: transparent;
  transition: all 0.1s linear;
}

.nav-item-bg:hover{
  transition: background-color 0.2s linear 0.2s;
}

nav > ol{
  list-style-type: none;
}

nav > ol li{
  float: right;
  margin-left: 5px;
};
