:root{
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
}

@keyframes fad-in {
  0%{
    opacity: 0;
  }100%{
    opacity: 1;
  }
}

.red-bg{
  background-color: red;
  width: 100%;
  height: 100%;
}