.Option{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  flex-wrap: nowrap;
  flex: 1 1;
  margin: 5px;
}

.Option-title{
  display: flex;
  align-items: flex-end;
  height: 1.5rem;
  padding-left: 0.5rem;
  font-size: 0.75rem;
}

.Option-input{
  height: 1.5rem;
  width:140px;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 0 none;
  transition: all 0.25s linear;
  border-color: lightgray;
}

.Option-input-check{
  border: solid 2px lightgray;
}

.Option-input:hover{
  box-shadow: 2px 2px 2px gray;
}

.Option-input:focus{
  box-shadow: 2px 2px 2px gray;
}