.prop-options{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  background-color: aliceblue;
  flex-basis: 150px;
}

.prop-options-item{
  display: flex;
  justify-content: center;
  margin: 5px;
}

.check-options{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 900px) {
  .prop-options{
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: flex-start;
    width: 150px;
    padding: 1rem;
  }
}