.demo-area{
  height: auto;
  min-height: 500px;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(223, 225, 226);
  flex-shrink: 1 1;
}


.demo-item{
  width: 50%;
  height: 50%;
  background-color: blanchedalmond;
  border: solid 5px lightsalmon;
}

@media screen and (min-width: 900px) {
  .demo-area{
    width: 700px;
  }
}